.element-div {
  width: 26vw;
  height: 26vw;
  /* border: 1px solid black; */
  position: relative;
  margin: 2vw 0;
}
.element-div:active {
  border: 2px solid red;
}
.element-image {
  width: 100%;
  height: 100%;
}
.names {
  width: 100%;
  position: absolute;
  font-size: 1.5vw;
  margin-top: 11.5vw;
  font-family: cursive;
  color: rgb(159, 138, 20);
}
.right {
  margin-left: 2.5vw;
}
